
@charset "utf-8";
/* CSS Document*/

body{
	background: #B4C7CD;
	font-weight: normal;
	color:#15430E;
}

h2 {
      color:#061852;
      font-weight: bold;
      font-style: italic;
   }
p{
	color: #512F13;
   }
